process.executor = 'k8s'

process.shell = ['/bin/bash', '-ue']

k8s {
  namespace = "${NAMESPACE}"                      // Your namespace
  serviceAccount = 'default'                // Adjust if needed
  storageClaimName = 'nextflow-pvc'     // Your RWX PVC name
  pod.nodeSelector = "usedby=${NAMESPACE}"          // General fallback selector
  }


process {

  withLabel: 'standard_k8s' {
    container = 'ubuntu:22.04'
    memory = '1 GB'
    cpus = 1
    time = '1h'
  }

  withLabel: 'std_high_en_k8s' {
    container = 'ubuntu:22.04'
    memory = '2 GB'
    cpus = 2
    time = '2h'
    pod.nodeSelector = 'node-type=highcpu'  // CPU-intensive node pool
  }

  withLabel: 'longrun_k8s' {
    container = 'ubuntu:22.04'
    memory = '4 GB'
    cpus = 4
    time = '16h'
  }

  withLabel: 'large_memory_k8s' {
    container = 'ubuntu:22.04'
    memory = '32 GB'
    cpus = 8
    time = '8h'
    pod.nodeSelector = 'node-type=highmem'  // Memory-heavy node pool
  }

  withLabel: 'gpu_k8s' {
    container = 'ubuntu:22.04'
    memory = '16 GB'
    cpus = 4
    time = '4h'
    accelerator = 'nvidia-gpu'
    pod.nodeSelector = 'node-type=gpu'
  }
}


trace {
  enabled = true
  overwrite = true
}

report {
  enabled = true
  overwrite = true
}

timeline {
  enabled = true
  overwrite = true
}


